<div *ngIf = "!(authService.getUser() | async)">You are not logged in</div>

<button mat-raised-button color = "primary"
        (click) = "hiddenForm = !hiddenForm">
         Add customer 
</button>

<customerform
  (update) = "add($event); hiddenForm = !hiddenForm"
  [hidden] = "!hiddenForm"
  (closeForm) = "hiddenForm = !hiddenForm" >
</customerform>

<table mat-table [dataSource]="customers" class="mat-elevation-z8"
                                          *ngIf = "(authService.getUser() | async)">

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element; let i = index">
        <span *ngIf = "i != rowToEdit"> {{element.name}} </span> 
        <mat-form-field *ngIf = "i == rowToEdit" >
          <input matInput
            [(ngModel)] = "customerToEdit.name" 
            [value] = "element.name" >
        </mat-form-field>
      </td>
    </ng-container>
  
    <!-- Education Column -->
    <ng-container matColumnDef="education">
      <th mat-header-cell *matHeaderCellDef> Education </th>
      <td mat-cell *matCellDef="let element; let i = index">
        <div *ngIf = "!isError[i]">
        <span *ngIf = "i != rowToEdit"> {{element.education}} </span> 
        <mat-form-field *ngIf = "i == rowToEdit" >
          <input matInput
            [(ngModel)] = "customerToEdit.education" 
            [value] = "element.education" >
        </mat-form-field>
        </div>
        <div *ngIf = "isError[i]">
           <h3><b>Error</b></h3>
          <mat-form-field *ngIf = "i == rowToEdit" >
          <input matInput
            [(ngModel)] = "customerToEdit.education" 
            [value] = "element.education" >
          </mat-form-field>
        </div>
      </td>
    </ng-container>
  
    <!-- Income Column -->
    <ng-container matColumnDef="income">
      <th mat-header-cell *matHeaderCellDef> Income </th>
      <td mat-cell *matCellDef="let element; let i = index">
        <span *ngIf = "i != rowToEdit"> {{element.income}} </span> 
        <mat-form-field *ngIf = "i == rowToEdit" >
          <input matInput
            [(ngModel)] = "customerToEdit.income" 
            [value] = "element.income" >
        </mat-form-field>
      </td>
    </ng-container>

     <!-- Edit Column -->
     <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef> Edit </th>
      <td mat-cell *matCellDef="let element; let i = index">
          <button mat-raised-button (click) = "moveToEditState(i)" *ngIf = "i != rowToEdit">
            Edit
          </button>
        <mat-form-field *ngIf = "i == rowToEdit" >
            <button mat-raised-button color = "primary" (click) = "update()">
              Update
            </button>
            <button mat-raised-button (click) = "rowToEdit = null; isError[i] = false">
              Cancel
            </button>
        </mat-form-field>
        
      </td>
    </ng-container>

      <!-- Predict Column -->
      <ng-container matColumnDef="predict">
        <th mat-header-cell *matHeaderCellDef> Predict </th>
        <td mat-cell *matCellDef="let element; let i = index">
          <button mat-raised-button *ngIf = "!element.result" (click) = "predict(i,element.education, element.income)">
            Predict
          </button>
          <button mat-raised-button color = "primary" *ngIf = "element.result && !element.saved" (click) = "updateResult(i,element.result)">
            Save
          </button>
          <button mat-raised-button *ngIf = "element.result && !element.saved" (click) = "element.result = null">
            Cancel
          </button>
        <span *ngIf = "element.saved">Saved</span>
        </td>
      </ng-container>

       <!-- Result Column -->
       <ng-container matColumnDef="result">
        <th mat-header-cell *matHeaderCellDef> Result </th>
        <td mat-cell *matCellDef="let element; let i = index">
          <span  [ngClass]="[element.result=='Will pay' ? 'green' : 'red']"><b>{{element.result}}</b></span>
        </td>
      </ng-container>

    <!-- Delete Column -->
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef> Delete </th>
      <td mat-cell *matCellDef="let element; let i = index">
        <button mat-raised-button color = "warn" (click) = "delete(element.id)">
          Delete
        </button>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
  