<mat-card>
    <h2>Add customer</h2>
    <div *ngIf = "isError">
        <b>please enter education between 0 to 24 years</b>
    </div>
    <form #customerForm = "ngForm">
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Name</mat-label>
                <input matInput [(ngModel)] = name name = name required>
              </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Education</mat-label>
                <input matInput [(ngModel)] = education name = education required>
              </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Income</mat-label>
                <input matInput [(ngModel)] = income name = income required>
              </mat-form-field>
        </div>
        <div>
            <button mat-raised-button color="primary" (click) = "updateParent()">Add</button>
            <button mat-raised-button  (click) = "tellParentToClose()">Cancel</button>
        </div>
    </form>
</mat-card>

